/*Dev note: Any changes to CSS goes between these DEV tags*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*-------------------------------------------------------------------------------------------*/
/*AKOEHLER DEV BEGIN*/

body{
	background-color: #222222;
}
body>div#content{
	background-color:#e5e2dd;
}

img { 
  max-width: 100%;
}

a,
a:focus,
a:hover,
a:visited{
	color:#333333 !important; 
}

header.navbar.navbar-inverse{
	padding-top: 49px;
	background: -webkit-gradient(linear, left top, left bottombottom, color-stop(31%,#563d7c), color-stop(100%,#463265));  
    background: -webkit-linear-gradient(top,  #333333 31%,#000000 100%);  
    background: -moz-linear-gradient(top,  #333333 31%, #000000 100%);  
    background: -o-linear-gradient(top, #333333 31%,#000000 100%);  
    background: -ms-linear-gradient(top, #333333 31%,#000000 100%);  
    background: linear-gradient(to bottombottom,  #333333 31%,#000000 100%);  
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );*/
    filter: none !important; /* Needed for IE */
}

header.navbar,
footer.navbar{
	border-radius:0;
	margin-bottom:0;	
}

header.navbar{
	margin-top: 12px;
}
.navbar{
max-height: 340px;
padding-right: 15px;
padding-left: 15px;
}

/*Mobile devices only*/
/*|||||||||||||||||||*/
button.navbar-toggle{
	background-color: #333333;
}
div.mbHeaderImage{
	position: relative;
float: left;
padding-left: 10px;
margin-top: 8px;
margin-bottom: 8px;
}

.navbar-toggle .icon-bar {
	background-color: #fc1;
}
/*|||||||||||||||||||*/

header.navbar.navbar-inverse ul.visible-xs, 
header.navbar.navbar-inverse ul.visible-sm{
	padding-top: 61px;
	background: -webkit-gradient(linear, left top, left bottombottom, color-stop(31%,#563d7c), color-stop(100%,#463265));  
    background: -webkit-linear-gradient(top,  #333333 31%,#000000 100%);  
    background: -moz-linear-gradient(top,  #333333 31%, #000000 100%);  
    background: -o-linear-gradient(top, #333333 31%,#000000 100%);  
    background: -ms-linear-gradient(top, #333333 31%,#000000 100%);  
    background: linear-gradient(to bottombottom,  #333333 31%,#000000 100%);  
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );*/
    filter: none !important; /* Needed for IE */
}

header a.navbar-brand{
	color:#563d7c !important;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-weight:bold;	
}

h3.panel-title a{
	color: #333333;
	font-size: 14pt;
	/*font-weight: bold;*/
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
.panel-brand{
	border-color: #000000;
	border-width: 1px;
}

.navbar-collapse {
max-height: 400px !important;
}
.navbar-nav .open .dropdown-menu {

background-color: #fff;

}

.nav li.active a:focus,
.nav li.active a{
	color: #fc1 !important;
	background-color: #333;	
}

.nav a:hover{
	background-color:#ddae00 !important;
}

/* STAFF | FACULTY | STUDENT tabs */
ul.nav.navbar-nav li.active a{
	color: #fc1 !important;
}

#content{
	padding:15px;
	padding-top: 30px; 
	min-height:400px;
	display: block;
}

.brand-back{
	text-shadow: 0 -1px 0 rgba(0,0,0,.15) !important;
	background-color: #ffc210 !important;
	border-color: #000 !important;
	box-shadow: 0 1px 0 rgba(255,255,255,.1) !important;
	color:#333333;
	
	background: #fff;  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(31%,#fc1), color-stop(100%,#ffc210));  
    background: -webkit-linear-gradient(top, #fc1 31%,#ffc210 100%);  
    background: -moz-linear-gradient(top,  #fc1 31%, #ffc210 100%);  
    background: -o-linear-gradient(top, #fc1 31%,#ffc210 100%);  
    background: -ms-linear-gradient(top, #fc1 31%,#ffc210 100%);  
    background: linear-gradient(to bottombottom,  #fc1 31%,#ffc210 100%);  
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1', endColorstr='#ffc210',GradientType=0 );*/
    filter: none !important; /* Needed for IE */
}

li.active a,
ul.nav a{
	font-size: 10pt !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000 !important;	
}

.caret{
	border-bottom-color:#000000 !important; 
	border-top-color:#000000 !important;
}

div..infoleft{
	border-right: #fff;
}

/*Mobile only*/
li.active a:hover,
li.dropdown a.dropdown-toggle:hover,
li.dropdown a.dropdown-toggle:focus{
	background-color:#ddae00 !important;
}

.btn-outline-inverse{
	color: #333333 !important;
	background-color: transparent;
	border-color: #cdbfe3;
	margin-top:-3px;
}

/*AKOEHLER DEV END*/
/*-------------------------------------------------------------------------------------------*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* CONTENT */
.map{
	background: url("../img/map.png") repeat scroll 100% 100% rgba(0, 0, 0, 0);
    height: 300px;
    margin: -20px -20px -35px;
}